#  local .gitignore ... set of files for git to ignore...

/Users/owner/WORKING_FILES/mk_dsi_folio/manukalia.github.io/.DS_Store
/Users/owner/WORKING_FILES/mk_dsi_folio/manukalia.github.io/.ipynb_checkpoints
